<ion-tabs mode="ios">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Nutrition Tracker</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="statistics" href="/tabs/statistics">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Log</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ai" href="/tabs/ai">
      <ion-icon name="logo-apple-ar"></ion-icon>
      <ion-label>AI</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>