<app-header title="AI: Life Balance" ic="logo-apple-ar"></app-header>

<ion-content [fullscreen]=" true">
  <ion-header mode="ios" class="top-content-wrapper">
    <ion-searchbar mode="ios" class="ion-no-padding search-suggestion"
      placeholder="Recommended calories: weigh 100 kg and 1.80 tall" [(ngModel)]="input" type="text"></ion-searchbar>
    <ion-icon (click)="getResponseInput(input)" icon="arrow-forward"></ion-icon>
  </ion-header>
  <div class="content-wrapper">
    <div class="header-wrapper">
      <div>
        <ion-icon icon="logo-apple-ar"></ion-icon>
        <h1>AI: Life Balance</h1>
      </div>
      <p>Ask me and get information about your health, body, foods, fitness, body management, etc..</p>
    </div>
    <div *ngIf="suggestions$ | async as suggests">
      <p class="suggestion-title">Suggestions</p>
      <div class="suggestions-wrapper">
        @for(suggestion of suggests; track suggestion; let i = $index) {
        <p (click)="!isLoadingData ? getResponseInput(suggestion) : null"
          [class]="!isLoadingData ? suggestion === selectedData ? 'selected_suggestion' : 'suggestion'  : 'suggestion_disabled'">
          {{
          suggestion }}</p>
        }
      </div>
    </div>
    @if(isLoading) {
    <ion-skeleton-text animated="true" style="height: 20px; margin-bottom: -14px" class="skeleton"></ion-skeleton-text>
    <br />
    <div class="suggestions-wrapper skeleton-container">
      <ion-skeleton-text animated="true" class="skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton"></ion-skeleton-text>
    </div>
    }

    @if(!isLoadingData) {
    <div *ngIf="result$ | async as res">
      <div class="selected-data-container">
        <p class="response-translation">
          {{selectedData}}
        </p>
        <br />
        <p class="response-description" [innerHTML]="res"></p>
      </div>

    </div>
    }
    @if(isLoadingData) {
    <div class="empty-div">
      <ion-skeleton-text animated="true" class="skeleton-title"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton-description"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton-title"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton-description"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton-title"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton-description"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton-title"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton-description"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton-title"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="skeleton-description"></ion-skeleton-text>
    </div>
    }
    @if(!result$ && !isLoadingData) {
    <div class="empty-div">
      <img class="empty_data" src="assets/no_data.svg" alt="Empty" />
      <p class="empty_data_text">
        Select any suggestion or start asking for something of your
        interests (For example. "How many calories should i consume?").
      </p>
    </div>
    }
  </div>
</ion-content>